img {
    width: 31.3%;
    min-width: 200px;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.photos {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    margin-left: 1%;
    margin-top: 10px;
}

button {
    margin-left: 1%;
    margin-bottom: 30px;
}

.nophotos {
    text-align: center;
    width: 100%;
    margin: 20px;
    color: rgba(245, 245, 245, 0.556);
}
