<form [formGroup]="form" (ngSubmit)='submitForm()'>
  <div formGroupName="Contact">
    <div class="form-group">
      <h5 for="contactName">Contact Name</h5>
      <input formControlName='Name' type="text" class="form-control" id="contactName" placeholder="Name">
    </div>
    <div class="form-group">
      <h5 for="email">Email address</h5>
      <input
             formControlName='Email'
             type="email" class="form-control" id="email" aria-describedby="emailHelp"
             placeholder="Enter email">
    </div>

  </div>
  <div class="form-group">
    <h5 for="exampleFormControlInput1">Year</h5>
    <input
           formControlName='Year'
           type="number" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="form-group">
    <h5 for="make">Select Make</h5>
    <select
            formControlName='Make'
            *ngIf="makes$ | async as makes"
            class="form-control" id="make"
            (change)="selectMake($event)">
      <option value=''></option>
      <option *ngFor='let make of makes' value="{{make.id}}">{{make.name}}</option>
    </select>
  </div>


  <div class="form-group" *ngIf="avalibleModels">
    <h5 for="modles">Select Model</h5>
    <select formControlName='ModelId'
            class="form-control" id="modles">
      <option *ngFor='let model of avalibleModels' value='{{model.id}}'>{{model.name}}</option>
    </select>

  </div>

  <h5>Is Car registerd?</h5>
  <div>
    <div class="form-check form-check-inline">
      <input formControlName='registerd'
             class="form-check-input" type="radio" name="registerd"
             id="inlineRadio1" value="1" />
      <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
      <input formControlName='registerd'
             class="form-check-input" type="radio" name="registerd"
             id="inlineRadio2" value="0" />
      <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
  </div>

  <br>
  <h5>Features</h5>
  <div class="checkboxes" *ngIf="features$ | async as features">
    <div class="form-check" *ngFor="let feature of features">
      <input
             [checked]="form.value.Features.has(feature.id)"
             class="form-check-input"
             type="checkbox"
             value="{{feature.id}}"
             (change)='selectFeature($event,feature.id)'
             id="flexCheckDefault{{feature.id}}">
      <label class="form-check-label" for="flexCheckDefault{{feature.id}}">
        {{feature.name}}
      </label>
    </div>
  </div>

  <br>
  <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block">Submit</button>
</form>
